@import 'variables.less';
@import 'mixins.less';

h1, h2, h3 { margin: 0 }

/* Clearfix - Nicolas Gallagher */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


body, html {
	margin: 0;
	padding: 0;
	height: 100%
}

#header {
	width: 100%;
	display: block;
	height: 42px;
	background-color: @btn-color;

	img#logo {
		padding-left: 25px;
	}

}

#sidebar {
	width: 225px;
	float: left;
	background-color: @sidebar-color;
	height: 100%;

	h1 {
    .primaryfont(14px, #8EA4BA, center);

		//font-family: proxima-nova;
		//font-size: 14px;
		//text-align: center;
		//color: #8EA4BA;
		background-color: @btn-color-faded;
		margin: 0;
		padding: 8px 0;
		border-bottom: 2px solid black;
		border-top: 2px solid black;
		//text-transform: uppercase;
	}


	#page-buttons {

		padding: 15px 0;

		.btn-page {
			//font-family: proxima-nova;
			width: 75%;
			//color: #fff;
      .primaryfont(13px, #fff, initial);
      //text-align:
			background-color: @btn-color;
			//margin-left: auto;
			//margin-right: auto;
			border-radius: 5px;
			border: 2px solid @btn-color;
			margin: 10px auto 10px auto;

			&.btn-add {
				background-color: inherit;
				//border-color: #4F657B;
				border: 2px solid @btn-color-faded;
				color: @btn-color-faded;

				.btn-plus {	.btn-sprite(-7px -10px);	}


				&.btn-page-hover .btn-plus { .btn-sprite(-7px -29px);	}


			}


			&.btn-page-hover {
				.btn-delete { .btn-sprite(-52px -9px); }
				.btn-edit {	.btn-sprite(-27px -9px); }
			}


			h2 {
				font-size: 13px;
				padding: 10px 0 10px 15px;
				margin: 0;
        text-align: left;
				//text-transform: uppercase;
			}

			input[type=text].txt-page-name {
				border: 0;
				outline: 0;
				height: 34px;
				width: 99px;
				background-color: transparent;
				margin-left: 15px;
				font-family: proxima-nova;
				color: #fff;
				text-transform: uppercase;
			}

		}
	}

	#element-buttons {
		.element {
			background-repeat: no-repeat;
			height: 84px;
			width: 56px;
			margin: 0px -2px 0px 25px;
		}

    h2 {
      .primaryfont(13px, @btn-color-faded, center);

    }

		.element-container {
			width: 49%;
			background-color: @elem-color;
			border: 1px solid @btn-color-faded;
      float: left;
      padding-bottom: 10px;
		}

		.elem-title {
      background-image: url(../img/sprites/Element-Icons.png);
        background-position: -7px 18px;
		}

		.elem-text {
      background-image: url(../img/sprites/Element-Icons.png);
      background-position: -61px 18px;
    }

		.elem-img {
      background-image: url(../img/sprites/Element-Icons.png);
      background-position: -115px 18px;

    }

		.elem-nav{
      background-image: url(/img/sprites/Element-Icons.png);
      background-position: -169px 18px;

    }
	}


}

#main {
	float: left;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    @btn-color-faded;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     @btn-color-faded;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:     @btn-color-faded;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:     @btn-color-faded;
}
