<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /mini-weebly
    RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.bmp|\.css|\.js|\.otf|\.map)$
    RewriteRule (.*)  web/index.php [QSA]
    
</IfModule>
